
body {
    background-color:#00010a;
    color:white;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#00010a;
}
header ul li {
    float:right;
}
header ul li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}
header ul li a:hover {
    background-color: #222235;
}
* {
    box-sizing: border-box;
}
  
  /* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px; 
}
.left {
    padding-left: 20px;
    display:flex;
    flex-flow:column;
    height:100vh;
    width: 30%;
    background-color: #222235;
}
.right {
    padding-left:50px;
    display:flex;
    flex-flow:column;
    height:100vh;
    width: 70%;
    background-color:#191522;
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
img {
    width: 250px;
}

button {
    margin:10px;
}

#health_display{ 
    width: 90%;
}
#hunger_display{
    width: 90%;
}
#happiness_display{
    width: 90%;
}

#reset{
    color: white;
    background-color: grey;
    width:30% 
}

#settings{
    color: white;
    background-color: grey;
    width:30%
}

#settings:hover{
    background-color: rgb(76, 82, 76);
}

#clean{
    color:white;
    background-color:rgb(83, 155, 179);
    border-radius: 5px;
    width: 100px;
 
}

#feed{
    color:white;
    background-color:green;
    border-radius: 5px;
    width: 100px;
}

#play{
    color:white;
    background-color: orange;
    border-radius: 5px;
    width: 100px;
}

#clean:hover{
    background-color:rgb(14, 65, 160);
}

#feed:hover{
    background-color: rgb(8, 77, 8);
}

#play:hover{
    background-color:rgb(255, 115, 0);
}