
body {
    background-color:#00010a;
    color:white;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#00010a;

}
header ul li {
    float:right;
}
header ul li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}
header ul li a:hover {
    background-color: #000058;
}
* {
    box-sizing: border-box;
}
  
  /* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
.left {
    padding-left: 20px;
    display:flex;
    flex-flow:column;
    height:100vh;
    width: 30%;
    background-color: #222235;
}
.right {
    padding-left:50px;
    display:flex;
    flex-flow:column;
    height:100vh;
    width: 70%;
    background-color:#191522;
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


img {
    width: 250px;
}

button {
    margin:10px;

}